---
// ここはフロントマター - JavaScriptコードを記述できます
const pageTitle = "My Astro Site";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <p>Astro.jsへようこそ！</p>
  </body>
</html>
